html{
  background-color: #E5E5E5;
}

body{
 
}
.imagedeParis{
  width: 100%;
  height: 700px;
  position: relative;
}

.bienvenue{
  display: flex;
  width: 100%;
  justify-content: center;
}

.bonplanstitle{
  display: flex;
  justify-content: center;
}
.NosBonsPLans{
  display: flex;

}

.image{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.bonsplans2{
  display: flex;
  justify-content: center;
  gap: 60px 60px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.bonplans3{
  display: flex;
  justify-content: center;
  gap: 60px 60px;
  margin-bottom: 25px;
}

.last{
 
}

.lasttitles{
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.image1{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.lasttips{
  display: flex;
  
  justify-content: center;
  gap : 60px;
}

.logo2,.logo1{
  width: 83px;
  height: 83px;
  margin-top: 10px;
}

p{
  text-align: center;
}

h3{
  text-align: center;
}

/* Formulaire de contact */

.my-form{
  display: flex;
  justify-content: center;

}

.my-form-container{
  width: 1060px;
  height: 280px;
  border: 1px black solid;
  margin-top: 40px;
  margin-bottom: 100px;
}

h7{

}

ul{
  height: 180px;
  width: 450px;
}

li{
  list-style: none;

}

input, textarea{
  width: 450px;
}

.my-form-ipt{

}

input{
display: flex;
}

.my-form-button{

}

/* FOOTER */

.my-footer{

}

.my-footer-container{
  width: 100%;
  height: 270px;
  border: 1px black solid;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 50% 50% ;
  grid-template-areas: 
  "AP AP CAT LU"
  "CP CP RS RS";
}

.footer-apropos{
  grid-area: AP;
  display: flex;
  justify-content: flex-start;

}

.p-footer{
  text-align: justify;
}

.footer-categories{
  grid-area: CAT;
  display: flex;
  justify-content: flex-start;
}

li.footer{
  list-style: none;
}


.footer-liens{
  grid-area: LU;
  display: flex;
}

.footer-copyright{
  grid-area: CP;
  display: flex;
}

.footer-social{
  grid-area: RS;
  display: flex;
}


/* Test Ancre pour remonter en haut de page */

/* #scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
} */
	