@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@600;700&display=swap');

body, html{
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
  margin: 0;
  font-family: Lato, sans-serif;
}

h1{
  position: absolute;
  left: 70%;
  color: #51586D;
  z-index: 999;
  font-size: 48px;
  font-family: Oswald, sans-serif;

}
.imagedeParis{
  width: 100%;
  height: 700px;
  position: relative;
}

.bonplanstitle{
  display: flex;
  justify-content: center; 
}

.NosBonsPLans{
  display: flex;

}

.bon-plans-h2{
  margin-top: 60px;
  margin-bottom: 60px;

}

.logo1{
  width: 83px;
  height: 83px;
  margin-top: 45px;
}

.image{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.bonsplans2{
  display: flex;
  justify-content: center;
  gap: 60px 60px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.bonplans3{
  display: flex;
  justify-content: center;
  gap: 60px 60px;
  margin-bottom: 25px;
}

.last{
 
}

.lasttitles{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.image1{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.lasttips{
  display: flex;
  
  justify-content: center;
  gap : 60px;
}

.logo2{
  width: 83px;
  height: 83px;
  margin-top: 10px;
}

p{
  text-align: center;
}

h3{
  text-align: center;
}

/* Formulaire de contact */

.my-form{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.my-form-container{
  display: flex;
  width: 1060px;
  height: 280px;
  border: 1px black solid;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 8px;
}
.my-form-image{
  width: 50%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "High1 High1"
  "Low1 Low2";
}

.my-form p{
  grid-area: High1;
}

.Contact-Us{
  margin:auto;
  grid-area: Low2;
}

.my-form-ul{
  height: 180px;
  width: 450px;
}

li{
  list-style: none;

}

input, textarea{
  width: 450px;
}

.my-form-ipt{

}

input{
display: flex;
border-radius: 4px;
}

textarea{
  border-radius: 4px;
  resize: none;
}

.my-form-button{

}

/* FOOTER */

.my-footer{
}

.my-footer-container{
  width: 100%;
  height: 140px;
  border: 1px black solid;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 50% 50% ;
  grid-template-areas: 
  "AP AP CAT LU"
  "CP CP RS RS";
  padding-top: 20px;
}

.footer-apropos{
  grid-area: AP;
  display: flex;
  justify-content: flex-start;

}

.p-footer{
  text-align: justify;
  margin: 0;
}

.footer-categories{
  grid-area: CAT;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-cat{
  list-style: none;
}


.footer-liens{
  grid-area: LU;
  display: flex;
  flex-direction: column;
  align-items: ;
}

.footer-copyright{
  grid-area: CP;
  display: flex;
  align-items: flex-end;
}

.footer-social{
  grid-area: RS;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

h8{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.footer-ul{
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* Test Ancre pour remonter en haut de page */

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
}
	