
.grand-container {
    display:flex;
    justify-content: center;
}

.container {
    width:80%;
    height:40vh;
    display:flex;
    justify-content: center;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "grande-image text-grand-card";
}

.text-grand-card {
    background-color: rgb(213, 228, 255);
    margin-left:20px;
}

.text-grand-card h1{
    padding-left: 20px;
    font-size: 26px;
}

.text-grand-card p {
    padding-left:20px;
    padding-right: 20px;
    font-size:18px;
}

.petite-image, #grande-image {
height:35vh;
width:35vh;
border-radius: 10px 0px 0px 10px;

}

.moyen-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  
  }
  
  .text-petite-card {
      background-color: rgb(211, 232, 250);
      width:80%;
      height:35vh;
      border-radius: 0px 10px 10px 0;
  }

.article-container {
    width:60%;
    height:50vh;
    display:flex;
    justify-content: center;
    /* margin-top:90px;
    margin-bottom: 100px; */
    border-radius: 10px;
}


.text-petite-card h1 {
    padding-left: 20px;
    font-size: 20px;
}

.text-petite-card p  {
    padding-left:20px;
    padding-right: 20px;
    font-size:16px;
    line-height: 22px;
}

@media screen and (max-width: 1089px) {
  .article-container {
    width:85%;
  }


@media screen and (max-width: 771px) {
    .article-container {
        flex-direction: column;
        align-items: center;
    }

    .moyen-container {
      align-content:space-between;
      justify-content: space-between;
    }

    .petite-image {
  
        width:50vw;
        height:50vw;
        border-radius: 10px 10px 0 0;
    }

    .text-petite-card {
        width:50vw;
        border-radius: 0 0 10px 10px;
    }
}