.main-title {
    text-align: center;
    font-size: 110%;
    font-weight: 100;
    color: blue;
}

.effectiveday {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: black;
    }

.titreCGU1 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU2 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU3 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU4 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU5 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU6 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU7 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU8 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU9 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}